{% extends 'admin/backOffice.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <section id="page-list">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">Les catégories</h2>
                        <div class="heading-elements">
                            <a href="#" class="btn btn-danger round btn-sm"><i class="la la-plus font-small-2"></i>
                                Nouveau</a>
                        </div>
                    </div>
                    <div class="card-body collapse show">
                        <div class="card-body card-dashboard">
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered category-list">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Disease</th>
                                    <th>Location</th>
                                    <th>Age</th>
                                    <th>Previous Visit</th>
                                    <th>Amount Due</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Phil Gray</td>
                                    <td>Dental</td>
                                    <td>New York</td>
                                    <td>25</td>
                                    <td>2018/04/25</td>
                                    <td>$1000</td>
                                    <td><a href="#"><i class="ft-edit text-success"></i></a>
                                        <a href="#"><i class="ft-trash-2 ml-1 text-warning"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>Name</th>
                                    <th>Disease</th>
                                    <th>Location</th>
                                    <th>Age</th>
                                    <th>Previous Visit</th>
                                    <th>Amount Due</th>
                                    <th>Actions</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('app-assets/vendors/css/tables/datatable/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('app-assets/vendors/css/forms/icheck/icheck.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('app-assets/vendors/css/forms/icheck/custom.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('app-assets/js/scripts/forms/select/form-select2.js') }}"></script>
    <script src="{{ asset('app-assets/js/scripts/modal/components-modal.js') }}"></script>

    <!-- BEGIN: Page Vendor JS-->
    <script src="{{ asset('app-assets/vendors/js/tables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('app-assets/vendors/js/tables/datatable/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('app-assets/vendors/js/forms/icheck/icheck.min.js') }}"></script>
    <!-- END: Page Vendor JS-->
    <!-- BEGIN: Page JS-->
    <script src="{{ asset('app-assets/js/scripts/pages/menu-list.js') }}"></script>
    <script src="{{ asset('app-assets/js/scripts/pages/categories-list.js') }}"></script>
    <!-- END: Page JS-->

{% endblock %}
